@charset "utf-8";
/*
  提示：CSS 样式只允许修改颜色属性，或图片的地址（图片大小要和默认的一致）。border:dotted solid double dashed
*/
*:focus {
  outline: none;
}
:global {
  /* fade */
  /* drag */
  /* jbox */
  /* border */
  /* container */
  /* title-panel */
  /* content */
  /* button-panel */
  /* tip-color */
  /* icons */
}
:global .jbox-fade {
  background-color: #000000;
}
:global .jbox-drag {
  border: 1px dashed #A5C11B;
}
:global div.jbox {
  padding: 0px;
  border: none;
  font-size: 12px;
}
:global div.jbox .jbox-border {
  /* background: none repeat scroll 0 0 #000000; */
  filter: alpha(opacity=20);
  -moz-opacity: 0.2;
  opacity: 0.2;
}
:global div.jbox .jbox-container {
  background-color: #f3f5f0;
  border: 1px solid #c3c2c2;
}
:global div.jbox .jbox-title-panel {
  /*background:#A5C11B;*/
  background: #aeb4b8;
  /* background-image: url('/public/controls/dhtmlx/dhtmlxToolbar/codebase/imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_imgs.gif'); */
  background-repeat: repeat-x;
  background-position: 0px -1px;
  color: #fff;
  border-bottom: 1px solid #CCCCCC;
}
:global div.jbox .jbox-title {
  font-weight: bold;
  /*color:#ffffff;*/
  white-space: nowrap;
  text-overflow: ellipsis;
}
:global div.jbox .jbox-close-hover {
  background-position: -16px 0;
}
:global div.jbox .jbox-content {
  min-height: 24px;
  line-height: 18px;
  /* color:#444444; */
}
:global div.jbox .jbox-content-loading {
  background-color: #E6E6E6;
}
:global div.jbox .jbox-button-panel {
  border-top: 1px solid #CCCCCC;
  /* background-color: #EEEEEE; */
  text-align: center !important;
}
:global div.jbox .jbox-bottom-text {
  text-indent: 10px;
  color: #444444;
}
:global div.jbox .jbox-button {
  background-color: #7ac142;
  border: medium none;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  height: 26px;
  margin: 0 5px;
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  /* background: url(/public/images/btn_bg.jpg) repeat-x transparent;
        background:url(images/jbox-button2.png) repeat-x transparent;lynn.chen
        border:#AAAAAA 1px solid;color:#888888;margin:1px 7px 0px 0px;height:22px;cursor:default;
        padding-left: 15px; */
}
:global div.jbox .jbox-button-hover {
  /* background: url(/public/images/btn_bg_hover.jpg) repeat-x transparent; */
  /*background-position:0px -20px;color:#666666;*/
  background-color: #90cf5f;
}
:global div.jbox .jbox-button-active {
  background-position: 0px -40px;
}
:global div.jbox-warning .jbox .jbox-button-panel {
  background-color: #f3f5f0;
}
:global div.jbox .jbox-tip-color {
  background-color: #edf3df;
  border-color: #edf3df;
  border-radius: 10px 10px 10px 10px;
  color: #111111;
}
:global div.jbox span.jbox-icon {
  background: url(images/jbox-icons.png) no-repeat scroll 0 0 transparent;
  _background: url(images/jbox-icons-ie6.gif) no-repeat scroll 0 0 transparent;
}
:global div.jbox span.jbox-icon-info {
  background-position: 0 0;
}
:global div.jbox span.jbox-icon-question {
  background-position: -36px 0;
}
:global div.jbox span.jbox-icon-success {
  background-position: -72px 0;
}
:global div.jbox span.jbox-icon-warning {
  background-position: -108px 0;
}
:global div.jbox span.jbox-icon-error {
  background-position: -144px 0;
}
:global div.jbox span.jbox-icon-none {
  display: none;
  overflow: hidden;
}
:global div.jbox span.jbox-icon-loading {
  background: url(images/jbox-loading1.gif) no-repeat scroll 0 0 transparent;
}
:root {
  /*定义一个变量*/
  --multiple: 1;
}
:global .ant-layout-sider-collapsed {
  flex: 0 0 64px !important;
  max-width: 64px !important;
  min-width: 64px !important;
  width: 64px !important;
}
:global .ant-layout-sider-collapsed .ant-menu-inline-collapsed {
  width: 64px !important;
}
p {
  margin: 0;
}
